@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root {
    --card-height: 80vh;
    --card-width: calc(var(--card-height) / 1.5);
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #211951;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.container {
    height: var(--card-height);
    width: var(--card-width);
    position: relative;
    /* border: darkblue 1px solid;
    background-color: whitesmoke; */
    border-radius: 2em;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    font-size: 1.5em;
    padding: 5px;
}

.container::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #836FFF, #15F5BA 20%, #F0F3FF);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.container::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #836FFF 80%, #15F5BA, #F0F3FF);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    transition: transform 1500ms;
    transform-style: preserve-3d;
    /* perspective: 200px; */
}

.business-card-front {
    background-color: #000054;
}

.business-card-front {
    display: flex;
    height: var(--card-height);
    width: var(--card-width);
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.business-card {
    height: var(--card-height);
    width: var(--card-width);
    flex-direction: column;
    padding: 20px 0px;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.business-card {
    transform: rotateY(180deg);
}

.business-card #rmit-logo {
    width: 50%;
    margin: 1vh;
}

.business-card #tan-photo {
    width: 50%;
    margin: 1vh;
}

.business-card h1 {
    font-family: "Madimi One", sans-serif;
    margin: 0;
    font-size: 5vh;
}

.business-card p {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    font-size: 2vh;
}


.business-card .contact-box {
    background-color: #000054;
    padding: 1vh;
    width: 80%;
    /* height: 3vh; */
    border-radius: 10px;
    margin: 2vh auto;
}

.business-card .contact-box a{
    color: white;
    text-decoration: none;
    font-family: 'Madimi One', serif;
    font-size: 2vh;
    vertical-align: middle; 
}

#intro {
    font-size: 6vh;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Ubuntu', serif;
    margin-top: 2vh;
    cursor: pointer;
}


